<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<header class="entry-header">
		<% if (show_date) { %>
		<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		<% } %>
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (config.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= config.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<% if (!index) { %>
	<script src="https://utteranc.es/client.js"
		repo="asoul/blog.asoul.tw"
		issue-term="title"
		theme="github-light"
		crossorigin="anonymous"
		async>
	</script>
    <%- partial('post/nav') %>
	<% } %>
</article>

<% if (index) { %>
	<hr class="article-divider">
<% } %>

<% if (!index && post.comments && config.disqus_shortname) { %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
